

$primaryColor: #b24592;

@mixin scrollbars {
  &:hover::-webkit-scrollbar-thumb {
    background: $primaryColor;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.05);
    border-radius: 0;
  }
}

.ui.basic.icon.button.noBorderBoxShadow {
  box-shadow: none !important;
}

#app {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#appContainer {
 height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#backdropView {
  flex: 1;
  background: rgba(229, 233, 236, 1.00);
  padding: 2%;
  max-height: 100%;
  overflow: hidden;
}

#navBarLogo {
  text-align: center;
  margin-top: 1rem;
  font-weight: 900;
  margin-left: 1.4rem;
}

#gameView {
  background: white;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 11px 5px #0000000d;
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}

#questionContainer {
  padding: 3%
}

#questionNumber {
  font-size: 140%;
  font-weight: 400;
  color: #7c7c7c;
  margin: 1rem;
}

#question {
  font-weight: 700;
  font-size: 150%;
  color: #363636;
  margin: 1rem;
}

.answerBubble {
  font-size: 94% !important;
  margin: 0.5rem !important;
  margin-right: 2rem !important;
  margin-left: 2rem !important;
  color: white !important;
  background-color: #717171 !important;
}
.answer {
  color: black !important;

  &.false {
    background:rgba(255,0,0,0.2);
  }

  &.true {
    background:rgb(23, 232, 9, 0.1);
  }
}

.nameInput  {
  input {
    font-size: 180%;
    text-align: center !important;
    margin-bottom: 1.3rem !important;
    font-weight: 500;
  }

  i {
    height: 3.9rem !important;
    margin-right: 0.9rem !important;
    margin-top: 1.6rem !important;
    opacity: 0.3 !important;
  }
}

#answerSubmitButton {
  height: 72px;
  line-height: 47px;
  text-align: center;
  font-weight: 700;
  background: #d6d6d6;
  color: white !important;
  text-transform: uppercase;

  &:hover {
    background: #bababa;
  }
}

.clickToAction {
  text-align: center;
  color: white;
}

.wide.column {
  max-height: 100% !important;
}

#joinColumn {
  position: relative;
  background: white;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    border-radius: 0 20px 20px 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ff9068, #ff4b1f);
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

#avatarColumn {
  max-height: 100%;
  overflow: scroll;

  @include scrollbars;

}


#createColumn {
  position: relative;
  background: white;
  cursor: pointer;
  z-index: 1;
  border-radius: 20px 0 0 20px;
  box-shadow: 1px 0 0 0 rgba(34, 36, 38, 0.15);

  &::before {
    position: absolute;
    border-radius: 20px 0 0 20px;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #b24592, #f15f79);
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.ui.feed {
  overflow: scroll;

  @include scrollbars;

}

.inputUppercase input{
  text-transform: uppercase;
  text-align: center !important;
}

.event {
  margin-top: 1rem !important;
}

.systemMessage .content .summary {
  color: #bfbfbf !important;
}

.item {
  display: flex !important;

  .header {
    font-size: 130%;
  }

  .content {
    margin-left: 1rem !important;
    line-height: 22px !important;
  }
}

.ui.selection.list .list>.item.active, .ui.selection.list>.item.active {
  background: rgb(0, 206, 201) !important;
}